! Display Settings
Xft.dpi: 144

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! EndeavourOS - Mouse Defaults
Xcursor.theme: capitaine-cursors-light
Xcursor.size: 32

! Colorscheme
*.background:  #222222
*.foreground:  #e1e1e1
! Black + DarkGrey
*color0:  #222222
*color8:  #535353
! DarkRed + Red
*color1:  #E84f4f
*color9:  #FF5252
! DarkGreen + Green
*color2:  #B7CE42
*color10: #F9FF44
! DarkYellow + Yellow
*color3:  #FEA63C
*color11: #FFD939
! DarkBlue + Blue
*color4:  #597072
*color12: #7DB9C7
! DarkMagenta + Magenta
*color5:  #B7416E
*color13: #FE448B
!DarkCyan + Cyan (both not tango)
*color6:  #66A9B9
*color14: #71E7FF
! LightGrey + White
*color7:  #E1E1E1
*color15: #CCCCCC
